
@import './fonts.scss';
@import url(./root.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button,input{
    border: none;
    outline: none;
}

.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}