:root{
  --font-family: "Montserrat", sans-serif;
  --second-family: "Open Sans", sans-serif;
  --third-family: "Raleway", sans-serif;
  --font3: "Advent Pro", sans-serif;
  --font4: "Varela", sans-serif;
  --font5: "Nunito", sans-serif;
  --font6: "Roboto", sans-serif;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --bgColor: #d7d7d7;
}