.aboutMe {
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(26, 21, 21, 0) 0%,
      rgba(1, 1, 1, 0.16) 100%
    ),
    #fff;
  padding: 140px 0;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    &-title {
      max-width: 450px;
      padding: 25px 70px;
      border: 8px solid #000;

      h2 {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 30px;
        letter-spacing: 0.36em;
        text-align: center;
        color: #000;
        text-transform: uppercase;
      }
    }
  }
}
